<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;
      charset=UTF-8" />
    <title>Work Homepage</title>
</head>
<body>

    <div align="right">
        <a th:href="@{Logout}">Logout</a>
    </div>

    <h1>Insolvent users </h1>
    <table>
        <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Amount</th>
            <th>Date of rejection</th>
            <th>Time of rejection</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="a : ${AlertList}">
            <td th:text="${a.username}"></td>
            <td th:text="${a.email}"></td>
            <td th:text="${a.total}"></td>
            <td th:text="${a.date_of_creation}"></td>
            <td th:text="${a.hour_of_creation}"></td>
        </tr>
        </tbody>
    </table>

    <h1>Sales report</h1>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Total Purchase</th>
            <th>Total For 12</th>
            <th>Total For 24</th>
            <th>Total For 36</th>
            <th>Net Value</th>
            <th>Total Value</th>
            <th>Product Purchased</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="s : ${SalesList}">
            <td th:text="${s.packageName}"></td>
            <td th:text="${s.totalPurchase}"></td>
            <td th:text="${s.total12}"></td>
            <td th:text="${s.total24}"></td>
            <td th:text="${s.total36}"></td>
            <td th:text="${s.netValue}"></td>
            <td th:text="${s.totalValue}"></td>
            <td th:text="${s.productPurchased}"></td>
        </tr>
        </tbody>
    </table>

    <h1>Packages List</h1>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Fixed Phone</th>
                <th>Fee12</th>
                <th>Fee24</th>
                <th>Fee36</th>
                <th>Mobile Internet</th>
                <th>Mobile Phone</th>
                <th>Fixed Internet</th>
                <th>Optional Products</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="sp : ${packages}">
                <td th:text="${sp.name}"></td>
                <td th:text="${sp.fixed_phone}"></td>
                <td th:text="${sp.fee12}"></td>
                <td th:text="${sp.fee24}"></td>
                <td th:text="${sp.fee36}"></td>
                <td th:text="${sp.mobileInternet != null} ? ${sp.mobileInternet.numGB} : 'NO'"></td>
                <td th:text="${sp.mobilePhone != null} ? ${sp.mobilePhone.extra_min} : 'NO'"></td>
                <td th:text="${sp.fixedInternet != null} ? ${sp.fixedInternet.getNumGB()} : 'NO'"></td>
                <td th:each="op : ${sp.optionalProducts}"
                    th:text="${!sp.optionalProducts.isEmpty()} ? ${op.name}: 'NO'"></td>
            </tr>
        </tbody>
    </table>

    <h1>Create a Service Package</h1>

    <form th:action="@{CreateService}" method="POST">
        <input type="hidden" name="typeOfProd" th:value="0">
        Name: <input type="text" name="name" required> <br>
        Fixed Phone Included:
        <select name="fixed_phone">
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
        <br>
        12Fee: <input type="text" name="fee12" required> Euros/Month <br>
        24Fee: <input type="text" name="fee24" required> Euros/Month <br>
        36Fee: <input type="text" name="fee36" required> Euros/Month <br>
        Mobile Phone:
        <select name="mobile_phone">
            <option th:disabled="disabled" selected="true" value="">Choose Offer</option>
            <option value="-1">No</option>
            <option th:each="mp : ${MobilePhoneList}"
                    th:value="${mp.getid()}"
                    th:text="${mp.num_min} + ' Minutes/Month,' + ${mp.num_sms} + ' SMS/Month, ' + ${mp.extra_min} + ' EUR/Minute,' +
                     ${mp.extra_sms} + ' EUR/SMS'">
        </select>
        <br>
        <label>Fixed Internet:
            <select name="fixed_internet">
                <option th:disabled="disabled" selected="true" value="">Choose Offer</option>
                <option value="-1">No</option>
                <option th:each="fi : ${FixedInternetList}"
                        th:value="${fi.getid()}"
                        th:text="${fi.numGB} + ' GB/Month, ' + ${fi.extraGB} + ' EUR/GB'">
            </select>
        </label>
        <br>
        <label>Mobile Internet:
            <select name="mobile_internet">
                <option th:disabled="disabled" selected="true" value="">Choose Offer</option>
                <option value="-1">No</option>
                <option th:each="mi : ${MobileInternetList}"
                        th:value="${mi.getid()}"
                        th:text="${mi.numGB} + ' GB/Month, ' + ${mi.extraGB} + ' EUR/GB'">
            </select>
        </label>
        <br>
        <p>
        <label>Optional Product:
            <input type="checkbox"
                   th:each="op : ${OptionalProductList}"
                   th:name="optional_products"
                   th:text="${op.name} + ' - ' + ${op.monthly_fee} + ' EUR/Month ' "
                   th:value="${op.name}"
            />
        </label>
        </p>
        <br>
        <input type="submit" value="Create Product">
    </form>

    <h1>Create a Mobile Internet Offer</h1>

    <form th:action="@{CreatePackage}" method="POST">
        <input type="hidden" name="typeOfProd" th:value="1">
        Number of Gigabytes: <input type="number" name="num_gb" required> GB <br>
        Extra fee for a Gigabyte: <input type="number" name="fee_extra_gb" required> Euros/GB <br>
        <input type="submit" value="Create Offer">
    </form>

    <h1>Create a Mobile Phone Offer</h1>

    <form th:action="@{CreatePackage}" method="POST">
        <input type="hidden" name="typeOfProd" th:value="2">
        Number of minutes: <input type="number" name="num_min" required> Minutes<br>
        Number of SMS: <input type="number" name="num_sms" required> SMS<br>
        Fee Extra minutes: <input type="number" name="fee_extra_min" required> Euros/Minute<br>
        Fee Extra SMS: <input type="number" name="fee_extra_sms" required> Euros/SMS <br>
        <input type="submit" value="Create Offer">
    </form>

    <h1>Create a Fixed Internet Offer</h1>

    <form th:action="@{CreatePackage}" method="POST">
        <input type="hidden" name="typeOfProd" th:value="3">
        Number of Gigabyte: <input type="number" name="num_gb" required> GB <br>
        Fee extra Gigabyte: <input type="number" name="fee_extra_gb" required> Euros/GB <br>
        <input type="submit" value="Create Offer">
    </form>

    <h1>Create an Optional Product</h1>

    <form th:action="@{CreatePackage}" method="POST">
        <input type="hidden" name="typeOfProd" th:value="4">
        Name: <input type="text" name="prod_name" required> <br>
        Monthly Fee: <input type="number" name="monthly_fee" required> Euros/Month <br>
        <input type="submit" value="Create Product">
    </form>

</body>
</html>