<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/style.css"/>
</head>
<body>
    <div align="right">
        <div th:if="${session.user == null}">
            <a th:href="@{CheckLogin}">Login</a>
        </div>
        <div th:if="${session.user != null}">
            <a th:href="@{Logout}">Logout</a>
        </div>
    </div>

    <div th:if="${session.user != null}">
        <div th:switch="${session.user.status}">
            <p th:case="'0'">ALERT! Too many fail payments </p>
            <table th:case="'INSOLVENT'">
                <thead>
                <tr>
                    <th>User ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Amount</th>
                    <th>Date of rejection</th>
                    <th>Time of rejection</th>
                </tr>
                </thead>
                <tbody>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tbody>
            </table>
            <p th:case="'1'"></p>
        </div>
    </div>



    <p th:text="${session.user != null} ? ${'Nice to see you again '+ session.user.username} : ''"></p>

    <h1>My subscriptions</h1>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Fee</th>
            <th>Validity Period</th>
            <th>Order number</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="o : ${my_orders}">
            <td th:text="${o.name_package}"></td>
            <td th:text="${o.subscription != null} ? ${o.subscription.fee} : ''"></td>
            <td th:text="${o.subscription != null} ? ${o.subscription.validity_period} : ''"></td>
            <td th:text="${o.getid()}"></td>
            <td th:text="${o.getStatus()}"></td>
            <span th:switch="${o.status.getStatus()}">
                <td><a th:case="1" th:href="@{/Purchase(order_id=${o.getid()},name=${o.getName_package()})}">Reorder</a></td>
                <td th:case="0"></td>
            </span>

        </tr>
        </tbody>
    </table>

    <h1>Packages List</h1>

    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Fixed Phone</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sp : ${packages}">
            <td th:text="${sp.name}"></td>
            <td th:text="${sp.fixed_phone}"></td>
            <td><a th:href="@{/PackageDetails(package_id=${sp.getid()})}">Details</a></td>
            <td><a th:href="@{/Purchase(package_id=${sp.getid()})}" th:value="package_id">Buy</a></td>
        </tr>
        </tbody>
    </table>

    <span th:switch="payment">
        <p th:case="true" class="fas fa-check green-text"> Payment confirmed! Subscription added to profile </p>
        <p th:case="false" class="fas fa-times red-text"> Payment not confirmed, please try again</p>
        <p th:case="*"></p>
    </span>
</body>
</html>