<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Purchase</title>
</head>
<body>
    <div align="right">
        <a th:href="@{/GoToHomepage}">Homepage</a>
    </div>

    <h1>"Purchase form"</h1>

    <form action="#" th:action="@{/GoToConfirm}" method="POST">
        <fieldset>
            <p>
                Package:  <input type="text" name="package_id" th:id="${package.getid()}" th:value="${package.name}" disabled> <br>
            </p>

            <p>
                <label th:for="${products}" >Choose an optional product:</label>
                <select name="product_name" id="product_name">
                    <option th:each="p : ${products}" th:value="${p.name}"
                            th:text="${p.name}"></option>
                </select>
            </p>

            <p>
            Validity Period:
                <div data-name="check" id="check">
                    <input type="checkbox" name="val_period" id="12" th:value="${package.fee12}"/>   <label for="12" th:text="${package.fee12}"> for 12 Months</label> <br>
                    <input type="checkbox" name="val_period" id="24" th:value="${package.fee24}" />   <label for="24" th:text="${package.fee24}"> for 24 Months</label> <br>
                    <input type="checkbox" name="val_period" id="36" th:value="${package.fee36}" />   <label for="36" th:text="${package.fee36}"> for 36 Months</label> <br>
                </div>
            </p>

            <p>
            Start Day:
                <input type="date" name="date"
                      th:attr="min=${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"
                      placeholder="yyyy-mm-dd" required />
            </p>

            <br>
            <input type="submit" value="Purchase">
            <p th:text=" ${errorMsg}"></p>
        </fieldset>
    </form>
</body>
<script>
    var last;
    document.addEventListener('input',(e)=>{
        var closest=e.target.closest("*[data-name='check']");
        if(e.target.closest("*[data-name]")){
            if(last)
                last.checked=false;
        }
        if(e.target!==last)
            last=e.target;
        else
            last=undefined;
    })

</script>
</html>